* {
    margin: 0;
    padding: 0;
    font-family: inter, sans-serif;
    box-sizing: border-box;
}

body {
    background: #FBFBF9;
    height: 3000px;
    overflow-x: hidden;
}

.back-btn {
    position: fixed;
    top: 40px;
    left: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    background: #FBFBF9;
    box-shadow: 0 30px 70px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease;
    z-index: 10000;
}

.back-btn img {
    width: 55px;
    display: block;
    padding: 12px 12px;
}

.back-btn:hover {
    transform: translateX(-7px);
}

.main-content {
    background: linear-gradient(45deg, #89F7FE, #72B2E4, #72B2E4);
    height: 550px;
    text-align: center;
    color: #FBFBF9;
    padding: 180px 30px;
}

.main-content h1 {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 50px;
    transition: transform 0.4s ease;
}

.main-content h1:hover {
    transform: translateY(-10px);
}

.main-content p {
    padding: 0 130px 0 130px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 30px;
}

.project-container {
    background: #FBFBF9;
    border-radius: 25px 25px 0 0;
    margin-top: -30px;
    padding: 40px 30px;
    min-height: 600px;
    box-shadow:  -150px 0 190px rgba(0, 0, 0, 0.4);
    position: relative;
    align-items: center;
}

.main-image {
    max-width: 100%;
    padding: 50px 0 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image img {
    width: 450px;
    transition: transform 0.4s ease-in-out;
}

.main-image img:hover {
    transform: translateY(-10px);
}

h3 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 70px 30px;
    color: #72B2E4;
    transition: transform 0.4s ease-in-out;
}

h3:hover {
    transform: translateX(10px);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.project-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.project-item img {
    width: 380px;
    display: block;
    box-shadow: 0 30px 70px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
    z-index: 1000;
}

.project-item img:hover {
    transform: translateY(-10px);
}

.logo {
    padding: 150px 40px 70px 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo img {
    width: 300px;
}

.circle {
    margin: 0;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: #89F7FE;
    filter: blur(100px);
    opacity: 0.8;
    position: absolute;
    top: 600px;
    left: -450px;
}

.circle-two {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #89F7FE;
    filter: blur(100px);
    opacity: 0.8;
    position: absolute;
    top: 50%;
    right: -400px;
}
